# Root
node_modules/

# Frontend
/fe/dist/
/fe/.tanstack/

# Backend
/be/dist/
/be/generated/prisma/

# Logs
*.log

# Environment
**/.env
**/.env.*
!**/.env.example

# IDE
.vscode/extensions.json
.idea/

# OS
.DS_Store
Thumbs.db

# Certificates
/cert/

